.ordersConParent{
    min-height: 100vh;
    width: 100%;
}
.orderCon{
    background-color: #f1f3f6;
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100% !important;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}