.one-ratings {
  display: flex;
  align-items: center;
}
.cardProductName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.link {
  text-decoration: none;
}
@media (max-width: 500px) {
  .one-ratings {
    display: flex;
    flex-direction: column;
  }
  .cardProductName {
    text-align: center;
  }
  .cardProductPrice{
    text-align: center;
  }
}
