.dashboardCardParent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding: .5rem;
}
.dashboardCardParent>div{
    min-width:13rem ;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: white;
}
.dashboardCardHead{
    font-size: 1.1rem;
}
.lineChart{
    width: 65%;
}
.doughnutChart{
    width: 28%;
}
.barChart{
    width: 65%;
}
.graphsCon{
    padding: 2rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: fit-content;
}
.graphsCon>div{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    height: 25rem !important;
}

@media (max-width:1180px) {
   .graphsCon{
    gap: 1rem;
   } 
   .dashboardCardParent{
    gap: 1rem;
   }
   .doughnutChart{
    width: calc(35% - 1rem);
   }
}
@media (max-width:1052px) {
   .lineChart,
   .barChart{
    width: 100% !important;
   }
   .doughnutChart{
    width: calc(50% - .5rem) !important;
   }
}
@media (max-width:605px) {
    .dashboardCardParent>div{
        min-width:10rem ;
        min-height: 6rem;
    }
}
@media (max-width:475px) {
    .dashboardCardParent>div{
        min-width:40% ;
        min-height: 6rem;
    }
    .doughnutChart{
        width: 100% !important;
       }
}