@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 100%;
}
.belowHeader{
    margin-top: 17px;
    margin-top: 5rem;
}

@media (max-width:1000px) {
    html{
        font-size: 80%;
    }
}
@media (max-width:600px) {
    .belowHeader{
        margin-top: 0px;
    }  
}