.productContainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F0F0F0;
    padding: 2rem;
    gap: 1rem;
}

@media (max-width:505px) {
    .productContainer{
        padding: 0.5rem;
        gap: 0.5rem;
    }
}